<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Table</title>
    <style>
        table {
            width: 50%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: center;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <div class="counsellor">Counsellor data will display here</div><br><br><br><hr>
    <table>
        <tr>
            <th>SNo</th>
            <th>Student</th>
            <th>Operation</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Student 1</td>
            <td><button><a href="/counsellor/show">Show</a></button></td>
        </tr>
        <tr>
            <td>2</td>
            <td>Student 2</td>
            <td><a href="/counsellor/show">Show</a></td>
        </tr>
        <tr>
            <td>3</td>
            <td>Student 3</td>
            <td><a href="/counsellor/show">Show</a></td>
        </tr>
        <tr>
            <td>4</td>
            <td>Student 4</td>
            <td><a href="/counsellor/show">Show</a></td>
        </tr>
        <tr>
            <td>5</td>
            <td>Student 5</td>
            <td><a href="/counsellor/show">Show</a></td>
        </tr>
        <tr>
            <td>6</td>
            <td>Student 6</td>
            <td><a href="/counsellor/show">Show</a></td>
        </tr>
        <tr>
            <td>7</td>
            <td>Student 7</td>
            <td><a href="/counsellor/show">Show</a></td>
        </tr>
    </table>
</body>
</html>